<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BUY BLACK</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>BUY BLACK</h1>
    <p>black-owned businesses near you</p>
    <br>
    <div class="states-grid">
        <ul>
        <li><a href="{{ url_for('state', state='Alabama') }}">Alabama</a></li>
        <li><a href="{{ url_for('state', state='Alaska') }}">Alaska</a></li>
        <li><a href="{{ url_for('state', state='Arizona') }}">Arizona</a></li>
        <li><a href="{{ url_for('state', state='Arkansas') }}">Arkansas</a></li>
        <li><a href="{{ url_for('state', state='California') }}">California</a></li>
        <li><a href="{{ url_for('state', state='Colorado') }}">Colorado</a></li>
        <li><a href="{{ url_for('state', state='Connecticut') }}">Connecticut</a></li>
        <li><a href="{{ url_for('state', state='Delaware') }}">Delaware</a></li>
        <li><a href="{{ url_for('state', state='Florida') }}">Florida</a></li>
        <li><a href="{{ url_for('state', state='Georgia') }}">Georgia</a></li>
        <li><a href="{{ url_for('state', state='Hawaii') }}">Hawaii</a></li>
        <li><a href="{{ url_for('state', state='Idaho') }}">Idaho</a></li>
        </ul>
        <ul>
        <li><a href="{{ url_for('state', state='Illinois') }}">Illinois</a></li>
        <li><a href="{{ url_for('state', state='Indiana') }}">Indiana</a></li>
        <li><a href="{{ url_for('state', state='Iowa') }}">Iowa</a></li>
        <li><a href="{{ url_for('state', state='Kansas') }}">Kansas</a></li>
        <li><a href="{{ url_for('state', state='Kentucky') }}">Kentucky</a></li>
        <li><a href="{{ url_for('state', state='Louisiana') }}">Louisiana</a></li>
        <li><a href="{{ url_for('state', state='Maine') }}">Maine</a></li>
        <li><a href="{{ url_for('state', state='Maryland') }}">Maryland</a></li>
        <li><a href="{{ url_for('state', state='Massachusetts') }}">Massachusetts</a></li>
        <li><a href="{{ url_for('state', state='Michigan') }}">Michigan</a></li>
        <li><a href="{{ url_for('state', state='Minnesota') }}">Minnesota</a></li>
        <li><a href="{{ url_for('state', state='Mississippi') }}">Mississippi</a></li>
        </ul>
        <ul>
        <li><a href="{{ url_for('state', state='Missouri') }}">Missouri</a></li>
        <li><a href="{{ url_for('state', state='Montana') }}">Montana</a></li>
        <li><a href="{{ url_for('state', state='Nebraska') }}">Nebraska</a></li>
        <li><a href="{{ url_for('state', state='Nevada') }}">Nevada</a></li>
        <li><a href="{{ url_for('state', state='New Hampshire') }}">New Hampshire</a></li>
        <li><a href="{{ url_for('state', state='New Jersey') }}">New Jersey</a></li>
        <li><a href="{{ url_for('state', state='New Mexico') }}">New Mexico</a></li>
        <li><a href="{{ url_for('state', state='New York') }}">New York</a></li>
        <li><a href="{{ url_for('state', state='North Carolina') }}">North Carolina</a></li>
        <li><a href="{{ url_for('state', state='North Dakota') }}">North Dakota</a></li>
        <li><a href="{{ url_for('state', state='Ohio') }}">Ohio</a></li>
        <li><a href="{{ url_for('state', state='Oklahoma') }}">Oklahoma</a></li>
        </ul>
        <ul>
        <li><a href="{{ url_for('state', state='Oregon') }}">Oregon</a></li>
        <li><a href="{{ url_for('state', state='Pennsylvania') }}">Pennsylvania</a></li>
        <li><a href="{{ url_for('state', state='Rhode Island') }}">Rhode Island</a></li>
        <li><a href="{{ url_for('state', state='South Carolina') }}">South Carolina</a></li>
        <li><a href="{{ url_for('state', state='South Dakota') }}">South Dakota</a></li>
        <li><a href="{{ url_for('state', state='Tennessee') }}">Tennessee</a></li>
        <li><a href="{{ url_for('state', state='Texas') }}">Texas</a></li>
        <li><a href="{{ url_for('state', state='Utah') }}">Utah</a></li>
        <li><a href="{{ url_for('state', state='Vermont') }}">Vermont</a></li>
        <li><a href="{{ url_for('state', state='Virginia') }}">Virginia</a></li>
        <li><a href="{{ url_for('state', state='Washington') }}">Washington</a></li>
        <li><a href="{{ url_for('state', state='West Virginia') }}">West Virginia</a></li>
        <li><a href="{{ url_for('state', state='Wisconsin') }}">Wisconsin</a></li>
        <li><a href="{{ url_for('state', state='Wyoming') }}">Wyoming</a></li>
        </ul>
    </div>
</body>
</html>